/* styles for displaying scores from the Walk Score API */
	.scoretext {
		position: relative;
		color: #1e7ebe;
		margin-left: 7px;
		text-decoration:none;
	}
	strong .scoretext {
		font-size: 15px;
		text-decoration: none;
	}
	.api-result sup { line-height: 17px; color:#1e7ebe; }

	#walkscore-free a, #walkscore-pro a, #transitscore-free a, #transitscore-pro a {
		text-decoration:none;
	}
	#walkscore-free img, #walkscore-pro img{
		padding-right: 4px;
	}
	
		/* styles for the info icon */
	#ws_info {
		position: relative;
		top: -5px;
		margin-left: 4px;
	}

	.api-screenshot {
	  border: 1px solid #ccc;
	}
	.api-screenshot img { border: none; }
	.api-caption p {
	  font-size: 11px;
	  margin: -3px 0 0 3px;
	  padding: 0 0 2px;
	}
	.content-body .api-caption a {
	  color: #555;
	}
	.content-body .api-caption a:hover { text-decoration: underline; }

	#ws-walkscore-tile { border: 1px solid #999; }