    <ul>
        <% for(index in ratingImages) {%>
            <li style="display: inline;"><img src="images/<%=ratingImages[index]%>"></img></li>
        <%}%>
    </ul>
    <a href='<%=url%>'>Goto Yelp!</a>