#map {
    padding: 5px 5px;
    height: 400px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
#floating-panel {
    z-index: 5;
    background-color: #fff;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding: 5px 5px 10px 5px;
}

main {
    color: white;
    margin: 0 10% 0 10%;
}

#header {
    position: relative;
    text-align: center;
    height: 80px;
    color: black;
}

#left-content {
    width: 70%;
    color: black;
    padding: 30px;
    text-align: left;
}

.tile-container {
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid darkblue;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
    font-size: 1.5em;
}

a { text-decoration: none;  }

.Crime {
    border: 1px solid darkblue;
    color: darkblue;
}

.Food {
    border: 1px solid darkred;
    color: darkred;
}

.Parks {
    border: 1px solid darkgreen;
    color: darkgreen;
}

.Property {
    border: 1px solid darkred;
    color: darkred;
}

.Hospitals {
    border: 1px solid black;
    color: black;
}

.WalkScore {
    border: 1px solid darkblue;
    color: darkblue;
}

.Schools {
    border: 1px solid forestgreen;
    color: forestgreen;
}

/* Style the tile links */
a.tile:visited { color: inherit; }


#right-content {
    width: 30%;
    float: right;
    color: black;
}

/* nav */
nav {
    font-weight: bold;
    padding: 5px;
    text-align: left;
    border: 1px solid #999;
    border-radius: 6px;
}

nav ul {
    list-style-type: none; 						/* No list style in nav list */
    text-align: center;							/* Center each element */
    display: inline-block;						/* Display in-line */
    border: none;								/* Clear borders */
    padding: 10px 0 10px 0;
    margin: 0 10px 0 10px;
    width: 80%;									/* Extend nav bar 80% across page */
    border-radius: 3px;							/* round off the nav bar corners */
}

nav a {
    text-decoration: none;
    padding-left: 15px;
    font-weight: bold;
}
nav a:link { color: #000033; }
nav a:visited { color: #344873; }

.left { float: left; }


