 @media (max-width: 1029px ) {
    #tilesHeader, #show_map, #hide_map {
        display: none;
    }
    .tile-container {
        width: 20%;
        margin: 0 auto;
    }
}

@media (min-width: 1030px) {
    #mobileSearch{
        display: none;
    }
    .tile-container {
        display: flex;
        flex-wrap: wrap;
    }
}

#map {
    padding: 5px 5px;
    height: 400px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
    background-color: #F0F8FF;
    color: black;
}

body {
    padding-top: 60px;
}

#floating-panel {
    background-color: #24292e;
    z-index: 5;
    text-align: center;
    font-family: 'Maven Pro', 'sans-serif';
    line-height: 30px;
    padding: 5px 5px 10px 5px;
    margin-top: 25px;
}

main {
    background-color: #f2f2f2;
    margin: 0 5% 0 5%;
    padding: 15px;
    box-shadow: 0px 0px 15px #1e2327;
    margin-bottom: 2%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

input#address, input#submit {
    text-align: center;
    font-family: Verdana, sans-serif;;
    font-size: 14px;
    border-radius: 5px;
    width: 80%;
}

input#submit {
    background-color: #24292e;
    color: #c8c9cb;
    font-weight: bold;
    border: 2px solid #c8c9cb;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

input#submit:hover {
    background-color: #008CBA;
    color: white;
}

#header {
    background-image: url("./assets/seattle.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
    padding-top: 3%;
    height: 140px;
    width: 100%;
    border-bottom: 5px solid #1e2327;
    color: black;
}

#header h1 {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #24292e;
    color: white;
    opacity: 0.8;
    font-weight: 500;
    font-size: 50px;
    text-shadow: 3px 2px 3px rgba(0,0,0,0.7);
}

#tilesHeader {
    width: 70%;
    margin: 0px;
    margin-left: 5%;
    text-align: center;
    font-size: 16pt;
    font-style: italic;
}

.tile {
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid darkblue;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 1.4em;
}

.tile ul {
    font-size: 0.8em;
}

a { text-decoration: none;  }

/* Page-sensitive tile styles */
.Crime {
    border: 3px solid darkblue;
    color: darkblue;
}

.Food {
    border: 3px solid darkred;
    color: darkred;
}

.Parks {
    border: 3px solid darkgreen;
    color: darkgreen;
}

.Property {
    border: 3px solid darkred;
    color: darkred;
}

.Concerts {
    border: 3px solid blue;
    color: blue;
}

.Hospitals {
    border: 3px solid black;
    color: black;
}

.Culture {
    border: 3px solid blue;
    color: blue;
}

.Art {
    border: 3px solid darkviolet;
    color: darkviolet;
}

.Walk-Score {
    border: 3px solid darkblue;
    color: darkblue;
}

.Schools {
    border: 3px solid forestgreen;
    color: forestgreen;
}

.Jobs {
    border: 3px solid goldenrod;
    color: goldenrod;
}

/* Style the tile links */
a.tile:visited { color: inherit; }

/* nav */
nav {
    box-sizing: border-box;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0px;
    padding: 3px;
    z-index: 9999;
    background-color: #24292e;
    color: #c8c9cb;
    font-weight: bold;
    text-align: left;
}

nav ul {
    box-sizing: border-box;
    list-style-type: none;  /* No list style in nav list */
    text-align: center;     /* Center each element */
    display: inline-block;  /* Display in-line */
    border: none;           /* Clear borders */
    width: 100%;            /* Extend nav bar 100% across page */
    padding-right: 40px;
}

nav a {
    padding: 5px;
}

nav a, #nav_active {
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

#nav_active {
    color: black;
}

nav a:link { color: #c8c9cb; }
nav a:visited { color: white; }

.left { float: left; }
.right { float: right; }

/* Animations */
.tile:hover {
    background-color: gainsboro;
    box-shadow: 0px 0px 15px black;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
}

nav a:hover, #nav_active {
    background-color: gainsboro;
    color: black;
    box-shadow: 0px 0px 15px black;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}

.detail_loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-left: 20%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes hide_map {
    from { width: 100%;}
    to   { width: 0; }
}

@keyframes show_map {
    from { width: 0;}
    to   { width: 100%;}
}

@keyframes expand_left {
    from { width: 70%; }
    to   { width: 100%;}
}

@keyframes contract_left {
    from { width: 100%;}
    to   { width: 70%; }
}

@keyframes expand_right {
    from { width: 0;   opacity: 0;}
    to   { width: 30%; opacity: 1;}
}

@keyframes contract_right {
    from { width: 30%; opacity: 1;}
    to   { width: 0  ; opacity: 0;}
}

#hide_map {
    float: right;
    color: black;
    width: 0;
    animation: hide_map 500ms 0s;
}

#show_map {
    float: right;
    background-color: #24292e;
    color: black;
    opacity: 0.8;
    width: 100%;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    animation: show_map 500ms 0s;
}

#right-content {
    width: 30%;
    float: right;
    color: black;
    animation: expand_right 500ms 0s;
}

#right-content-full {
    width: 0;
    float: right;
    color: black;
    opacity: 0;
    animation: contract_right 500ms 0s;
}

#left-content {
    width: 70%;
    color: black;
    padding: 30px;
    padding-top: 0px;
    text-align: left;
    animation: contract_left 500ms 0s;
}

#left-content-full {
    width: 100%;
    color: black;
    padding: 30px;
    text-align: left;
    animation: expand_left 500ms 0s;
}

#button-toggle {
    padding: 10px 25px 10px 0;
    margin: 0 10px 0 10px;
    width: 10%;
    float: right;
    color: #c8c9cb;
    text-align: center;
}

/*tooltip for art description*/
.tooltip {
    position: relative;
    display: inline-block;
    font-weight: bold;
}

.tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    margin-top: -10px;
    margin-right: 60px;
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltip .tooltiptext::after {
    position: absolute;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* ------------------
 styling for the tables
   ------------------   */
.hor-minimalist-b
{
    border-collapse: collapse;
    text-align: left;
    width: 90%;
}
.hor-minimalist-b th
{
    padding: 10px 8px;
    border-bottom: 2px solid #646464;
}
.hor-minimalist-b td
{
    border-bottom: 1px solid #d4d4d4;
    color: #5a5a5a;
    padding: 6px 8px;
}
.hor-minimalist-b tbody tr:hover td
{
    color: #232323;
}
.hor-td-link
{
    background-color: #d9d9d9;
    text-shadow: 0px 0px 10px white;
}
.hor-td-link a
{
    color: black;
}
.hor-td-link:hover
{
    background-color: #cccccc;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
}


/* styling for property detail page */
.cell {
    height: 200px;
    width: 400px;
    border-radius: 25px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    box-shadow: 3px 3px grey;
    text-align: center;
    font-size: 1.8em;
  }

  .propertyfooter {

  }

/* //////////////percentage circle starts here /////////////// */
/* /////////////////////////////////////////////////////////// */
.progress-circle {
   font-size: 20px;
   margin: 20px;
   position: relative; /* so that children can be absolutely positioned */
   padding: 0;
   width: 6em;
   height: 6em;
   background-color: #F2E9E1;
   border-radius: 50%;
   line-height: 6em;
}

.progress-circle:after{
    border: none;
    position: absolute;
    top: 0.35em;
    left: 0.35em;
    text-align: center;
    display: block;
    border-radius: 50%;
    width: 5.3em;
    height: 5.3em;
    background-color: #f2f2f2;
    content: " ";
}
/* Text inside the control */
.progress-circle span {
    position: absolute;
    line-height: 6em;
    width: 6em;
    text-align: center;
    display: block;
    color: #53777A;
    z-index: 2;
}
.left-half-clipper {
   /* a round circle */
   border-radius: 50%;
   width: 6em;
   height: 6em;
   position: absolute; /* needed for clipping */
   clip: rect(0, 6em, 6em, 3em); /* clips the whole left half*/
}
/* when p>50, don't clip left half*/
.progress-circle.over50 .left-half-clipper {
   clip: rect(auto,auto,auto,auto);
}
.value-bar {
   /*This is an overlayed square, that is made round with the border radius,
   then it is cut to display only the left half, then rotated clockwise
   to escape the outer clipping path.*/
   position: absolute; /*needed for clipping*/
   clip: rect(0, 3em, 6em, 0);
   width: 6em;
   height: 6em;
   border-radius: 50%;
   border: 0.45em solid #E9967A; /*The border is 0.35 but making it larger removes visual artifacts */
   /*background-color: #4D642D;*/ /* for debug */
   box-sizing: border-box;

}
/* Progress bar filling the whole right half for values above 50% */
.progress-circle.over50 .first50-bar {
   /*Progress bar for the first 50%, filling the whole right half*/
   position: absolute; /*needed for clipping*/
   clip: rect(0, 6em, 6em, 3em);
   background-color: #E9967A;
   border-radius: 50%;
   width: 6em;
   height: 6em;
}
.progress-circle:not(.over50) .first50-bar{ display: none; }


/* Progress bar rotation position */
.progress-circle.p0 .value-bar { display: none; }
.progress-circle.p1 .value-bar { transform: rotate(4deg); }
.progress-circle.p2 .value-bar { transform: rotate(7deg); }
.progress-circle.p3 .value-bar { transform: rotate(11deg); }
.progress-circle.p4 .value-bar { transform: rotate(14deg); }
.progress-circle.p5 .value-bar { transform: rotate(18deg); }
.progress-circle.p6 .value-bar { transform: rotate(22deg); }
.progress-circle.p7 .value-bar { transform: rotate(25deg); }
.progress-circle.p8 .value-bar { transform: rotate(29deg); }
.progress-circle.p9 .value-bar { transform: rotate(32deg); }
.progress-circle.p10 .value-bar { transform: rotate(36deg); }
.progress-circle.p11 .value-bar { transform: rotate(40deg); }
.progress-circle.p12 .value-bar { transform: rotate(43deg); }
.progress-circle.p13 .value-bar { transform: rotate(47deg); }
.progress-circle.p14 .value-bar { transform: rotate(50deg); }
.progress-circle.p15 .value-bar { transform: rotate(54deg); }
.progress-circle.p16 .value-bar { transform: rotate(58deg); }
.progress-circle.p17 .value-bar { transform: rotate(61deg); }
.progress-circle.p18 .value-bar { transform: rotate(65deg); }
.progress-circle.p19 .value-bar { transform: rotate(68deg); }
.progress-circle.p20 .value-bar { transform: rotate(72deg); }
.progress-circle.p21 .value-bar { transform: rotate(76deg); }
.progress-circle.p22 .value-bar { transform: rotate(79deg); }
.progress-circle.p23 .value-bar { transform: rotate(83deg); }
.progress-circle.p24 .value-bar { transform: rotate(86deg); }
.progress-circle.p25 .value-bar { transform: rotate(90deg); }
.progress-circle.p26 .value-bar { transform: rotate(94deg); }
.progress-circle.p27 .value-bar { transform: rotate(97deg); }
.progress-circle.p28 .value-bar { transform: rotate(101deg); }
.progress-circle.p29 .value-bar { transform: rotate(104deg); }
.progress-circle.p30 .value-bar { transform: rotate(108deg); }
.progress-circle.p31 .value-bar { transform: rotate(112deg); }
.progress-circle.p32 .value-bar { transform: rotate(115deg); }
.progress-circle.p33 .value-bar { transform: rotate(119deg); }
.progress-circle.p34 .value-bar { transform: rotate(122deg); }
.progress-circle.p35 .value-bar { transform: rotate(126deg); }
.progress-circle.p36 .value-bar { transform: rotate(130deg); }
.progress-circle.p37 .value-bar { transform: rotate(133deg); }
.progress-circle.p38 .value-bar { transform: rotate(137deg); }
.progress-circle.p39 .value-bar { transform: rotate(140deg); }
.progress-circle.p40 .value-bar { transform: rotate(144deg); }
.progress-circle.p41 .value-bar { transform: rotate(148deg); }
.progress-circle.p42 .value-bar { transform: rotate(151deg); }
.progress-circle.p43 .value-bar { transform: rotate(155deg); }
.progress-circle.p44 .value-bar { transform: rotate(158deg); }
.progress-circle.p45 .value-bar { transform: rotate(162deg); }
.progress-circle.p46 .value-bar { transform: rotate(166deg); }
.progress-circle.p47 .value-bar { transform: rotate(169deg); }
.progress-circle.p48 .value-bar { transform: rotate(173deg); }
.progress-circle.p49 .value-bar { transform: rotate(176deg); }
.progress-circle.p50 .value-bar { transform: rotate(180deg); }
.progress-circle.p51 .value-bar { transform: rotate(184deg); }
.progress-circle.p52 .value-bar { transform: rotate(187deg); }
.progress-circle.p53 .value-bar { transform: rotate(191deg); }
.progress-circle.p54 .value-bar { transform: rotate(194deg); }
.progress-circle.p55 .value-bar { transform: rotate(198deg); }
.progress-circle.p56 .value-bar { transform: rotate(202deg); }
.progress-circle.p57 .value-bar { transform: rotate(205deg); }
.progress-circle.p58 .value-bar { transform: rotate(209deg); }
.progress-circle.p59 .value-bar { transform: rotate(212deg); }
.progress-circle.p60 .value-bar { transform: rotate(216deg); }
.progress-circle.p61 .value-bar { transform: rotate(220deg); }
.progress-circle.p62 .value-bar { transform: rotate(223deg); }
.progress-circle.p63 .value-bar { transform: rotate(227deg); }
.progress-circle.p64 .value-bar { transform: rotate(230deg); }
.progress-circle.p65 .value-bar { transform: rotate(234deg); }
.progress-circle.p66 .value-bar { transform: rotate(238deg); }
.progress-circle.p67 .value-bar { transform: rotate(241deg); }
.progress-circle.p68 .value-bar { transform: rotate(245deg); }
.progress-circle.p69 .value-bar { transform: rotate(248deg); }
.progress-circle.p70 .value-bar { transform: rotate(252deg); }
.progress-circle.p71 .value-bar { transform: rotate(256deg); }
.progress-circle.p72 .value-bar { transform: rotate(259deg); }
.progress-circle.p73 .value-bar { transform: rotate(263deg); }
.progress-circle.p74 .value-bar { transform: rotate(266deg); }
.progress-circle.p75 .value-bar { transform: rotate(270deg); }
.progress-circle.p76 .value-bar { transform: rotate(274deg); }
.progress-circle.p77 .value-bar { transform: rotate(277deg); }
.progress-circle.p78 .value-bar { transform: rotate(281deg); }
.progress-circle.p79 .value-bar { transform: rotate(284deg); }
.progress-circle.p80 .value-bar { transform: rotate(288deg); }
.progress-circle.p81 .value-bar { transform: rotate(292deg); }
.progress-circle.p82 .value-bar { transform: rotate(295deg); }
.progress-circle.p83 .value-bar { transform: rotate(299deg); }
.progress-circle.p84 .value-bar { transform: rotate(302deg); }
.progress-circle.p85 .value-bar { transform: rotate(306deg); }
.progress-circle.p86 .value-bar { transform: rotate(310deg); }
.progress-circle.p87 .value-bar { transform: rotate(313deg); }
.progress-circle.p88 .value-bar { transform: rotate(317deg); }
.progress-circle.p89 .value-bar { transform: rotate(320deg); }
.progress-circle.p90 .value-bar { transform: rotate(324deg); }
.progress-circle.p91 .value-bar { transform: rotate(328deg); }
.progress-circle.p92 .value-bar { transform: rotate(331deg); }
.progress-circle.p93 .value-bar { transform: rotate(335deg); }
.progress-circle.p94 .value-bar { transform: rotate(338deg); }
.progress-circle.p95 .value-bar { transform: rotate(342deg); }
.progress-circle.p96 .value-bar { transform: rotate(346deg); }
.progress-circle.p97 .value-bar { transform: rotate(349deg); }
.progress-circle.p98 .value-bar { transform: rotate(353deg); }
.progress-circle.p99 .value-bar { transform: rotate(356deg); }
.progress-circle.p100 .value-bar { transform: rotate(360deg); }

/* ////////////// percentage circle ends here /////////////// */
/* ////////////////////////////////////////////////////////// */
