#map {
    padding: 5px 5px;
    height: 400px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
    color: black;
}

#floating-panel {
    z-index: 5;
    text-align: center;
    font-family: 'Maven Pro', 'sans-serif';
    line-height: 30px;
    padding: 5px 5px 10px 5px;
    margin-top: 25px;
}

main {
    margin: 0 10% 0 10%;
    padding: 15px;
    box-shadow: 0px 0px 15px gray;
    overflow: hidden;
}

main, #floating-panel {
    background-color: #f2f2f2;
}

input#address, input#submit {
    text-align: center;
    font-family: Verdana, sans-serif;;
    font-size: 14px;
}

#header {
    position: relative;
    text-align: center;
    height: 80px;
    color: black;
}

.tile-container {
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid darkblue;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
    font-size: 1.4em;
}

a { text-decoration: none;  }

/* Page-sensitive tile styles */
.Crime {
    border: 3px solid darkblue;
    color: darkblue;
}

.Food {
    border: 3px solid darkred;
    color: darkred;
}

.Parks {
    border: 3px solid darkgreen;
    color: darkgreen;
}

.Property {
    border: 3px solid darkred;
    color: darkred;
}

.Hospitals {
    border: 3px solid black;
    color: black;
}

.WalkScore {
    border: 3px solid darkblue;
    color: darkblue;
}

.Schools {
    border: 3px solid forestgreen;
    color: forestgreen;
}

.Jobs {
    border: 3px solid goldenrod;
    color: goldenrod;
}

/* Style the tile links */
a.tile:visited { color: inherit; }


/* nav */
nav {
    font-weight: bold;
    padding: 5px;
    text-align: left;
    border: 1px solid #999;
    border-radius: 6px;
}

nav ul {
    list-style-type: none;  /* No list style in nav list */
    text-align: center;     /* Center each element */
    display: inline-block;  /* Display in-line */
    border: none;           /* Clear borders */
    padding: 10px 0 10px 0;
    margin: 0 10px 0 10px;
    width: 80%;             /* Extend nav bar 80% across page */
    border-radius: 3px;	    /* round off the nav bar corners */
}

nav a {
    text-decoration: none;
    padding-left: 15px;
    font-weight: bold;
}

nav a:link { color: #000033; }
nav a:visited { color: #344873; }

.left { float: left; }

/* Animations */
.tile:hover {
    background-color: gainsboro;
    box-shadow: 0px 0px 15px black;
    transition-duration: 0.75s;
    -webkit-transition-duration: 0.75s; /* Safari */
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}

.detail_loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes hide_map {
    from { width: 100%;}
    to   { width: 0; }
}

@keyframes show_map {
    from { width: 0;}
    to   { width: 100%;}
}

@keyframes expand_left {
    from { width: 70%; }
    to   { width: 100%;}
}

@keyframes contract_left {
    from { width: 100%;}
    to   { width: 70%; }
}

@keyframes expand_right {
    from { width: 0;  }
    to   { width: 30%;}
}

@keyframes contract_right {
    from { width: 30%;}
    to   { width: 0;  }
}

#hide_map {
    float: right;
    color: black;
    width: 0;
    animation: hide_map 500ms 0s;
}

#show_map {
    float: right;
    color: black;
    width: 100%;
    animation: show_map 500ms 0s;
}

#right-content {
    width: 30%;
    float: right;
    color: black;
    animation: expand_right 500ms 0s;
}

#right-content-full {
    width: 0;
    float: right;
    color: black;
    animation: contract_right 500ms 0s;
}

#left-content {
    width: 70%;
    color: black;
    padding: 30px;
    text-align: left;
    animation: contract_left 500ms 0s;
}

#left-content-full {
    width: 100%;
    color: black;
    padding: 30px;
    text-align: left;
    animation: expand_left 500ms 0s;
}

#button-toggle {
    width: 30%;
    float: right;
    color: black;
    text-align: center;
}

#controls {
    width: 100%;
    height: 25px;
}
